{% extends 'base.html' %}
{% load static %}
{% load cart %}
{% load custom_filter %}
{% block content %}
	<section id="cart_items">
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li><a href="#">Home</a></li>
				  <li class="active">Shopping Cart</li>
				</ol>
			</div>
			<div class="table-responsive cart_info">
				{%if products %}
				<table class="table table-condensed">
					<thead>
						<tr class="cart_menu">
							<td class="image">Item</td>
							<td class="description">description</td>
							<td class="price">Price</td>
							<td class="quantity">Quantity</td>
							<td class="total">Total</td>
							<td></td>
						</tr>
					</thead>
					<tbody>
						{% for product in products %}
						<tr>
							<td class="cart_product">
								{% for pr_mg in  product.product_image.all %}
								<img src="{{pr_mg.image.url}}" width="110" height="110" alt="" />
								{% endfor %}
							</td>
							<td style="width: 25%;" class="cart_description">
								<h4><a href="">{{product.name}}</a></h4>
								<p>{{product.description}}</p>
							</td>
							<td class="cart_price">
								<p>{{product.price}}</p>
							</td>
							<td style="width: 20%;" class="cart_quantity">
									<div style="    display: inline-flex;" class="">
										<form action="/#{{product.id}}" class="col-2 " method="post">
											{% csrf_token %}
											<input hidden type="text" name='cart_product' value='{{product.id}}'>
											<input hidden type="text" name='remove' value='True'>
											<input type="submit" value=" - " class="btn btn-warning border-right">
										</form>
										<span class="col btn btn-warning">{{product|cart_quantity:request.session.cart}} in Cart</span>
										<form action="/#{{product.id}}" class="col-2 " method="post">
											{% csrf_token %}
											<input hidden type="text" name='cart_product' value='{{product.id}}'>
											<input type="submit" value=" + " class="btn btn-warning border-left">
										</form>
									</div>
							</td>
							<!--<td class="cart_quantity">
								<div class="cart_quantity_button">
									<a class="cart_quantity_up" href=""> + </a>
									<input class="cart_quantity_input" type="text" name="quantity" value="1" autocomplete="off" size="2">
									<a class="cart_quantity_down" href=""> - </a>
								</div>
							</td>-->
							<td class="cart_total">
								<p class="cart_total_price">{{product|price_total:request.session.cart|currency}}</p>
							</td>
							<td class="cart_delete">
								<div>
									<form action="/#{{product.id}}" class="col-2 " method="post">
												{% csrf_token %}
										<input hidden type="text" name='delete_product' value='{{product.id}}'>
										<input type="submit" value="x" class="btn btn-warning fa fa-times">
									</form>
								</div>
							</td>
						</tr>
						{% endfor %}
					</tbody>
					<tfoot>
                <tr>
                    <th colspan="3"></th>
                    <th class="" colspan="">Total</th>
                    <th>{{products|total_cart_price:request.session.cart|currency}}</th>
                </tr>
            	</tfoot>
				</table>
				{% else %}
					<h3 align="center">Missing Cart items</h1>
				{%endif%}
			</div>
		</div>
	</section> <!--/#cart_items-->

	<!--<div class="m-3 p-3" align="center">
        <a href="#" data-toggle="modal" data-target="#exampleModal" class="btn btn-default check_out">Check out</a>
    </div>-->
    {%if products %}
    <div align="center">
	    <button  type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
	  		Check Out 
		</button>
	</div>
	{%endif%}
	<section id="do_action">
		<div class="container">
			<div class="heading">
				<h3>What would you like to do next?</h3>
				<p>Choose if you have a discount code or reward points you want to use or would like to estimate your delivery cost.</p>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="chose_area">
						<ul class="user_option">
							<li>
								<input type="checkbox">
								<label>Use Coupon Code</label>
							</li>
							<li>
								<input type="checkbox">
								<label>Use Gift Voucher</label>
							</li>
							<li>
								<input type="checkbox">
								<label>Estimate Shipping & Taxes</label>
							</li>
						</ul>
						<ul class="user_info">
							<li class="single_field">
								<label>Country:</label>
								<select>
									<option>United States</option>
									<option>Bangladesh</option>
									<option>UK</option>
									<option>India</option>
									<option>Pakistan</option>
									<option>Ucrane</option>
									<option>Canada</option>
									<option>Dubai</option>
								</select>
								
							</li>
							<li class="single_field">
								<label>Region / State:</label>
								<select>
									<option>Select</option>
									<option>Dhaka</option>
									<option>London</option>
									<option>Dillih</option>
									<option>Lahore</option>
									<option>Alaska</option>
									<option>Canada</option>
									<option>Dubai</option>
								</select>
							
							</li>
							<li class="single_field zip-field">
								<label>Zip Code:</label>
								<input type="text">
							</li>
						</ul>
						<a class="btn btn-default update" href="">Get Quotes</a>
						<a class="btn btn-default check_out" href="">Continue</a>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="total_area">
						<ul>
							<li>Cart Sub Total <span>$59</span></li>
							<li>Eco Tax <span>$2</span></li>
							<li>Shipping Cost <span>Free</span></li>
							<li>Total <span>$61</span></li>
						</ul>
							<a class="btn btn-default update" href="">Update</a>
							<a class="btn btn-default check_out" href="">Check Out</a>
					</div>
				</div>
			</div>
		</div>
	</section><!--/#do_action-->


  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" align="center" id="exampleModalLabel">Check Out Form</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/check-out" method="POST">
                {% csrf_token %}
                <div class="form-group">
                  <label for="">Address</label>
                  <textarea type="text" name="address" id="" class="form-control" placeholder="" aria-describedby="helpId">
      
                  </textarea> 
                  
                </div>
                <div class="form-group">
                    <label for="">Phone</label>
                    <input type="text" name="phone" id="" class="form-control" placeholder="" aria-describedby="helpId">
                </div>
                <div style="display: flex;justify-content: center;">
                	<input type="submit" class="btn btn-warning col-lg-6" value="Check out">
            		</div>
            </form>
      </div>
      <div class="modal-footer row">
      </div>
    </div>
  </div>
</div>
{% endblock %}