{% extends 'base.html' %}
{% load static %}
{% load cart %}
{% load custom_filter %}
{% block content %}
	<section id="cart_items">
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li><a href="#">Home</a></li>
				  <li class="active">Shopping Cart</li>
				</ol>
			</div>
			<ul class="messages">
                {% for message in messages %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %} 
                    <div class="alert alert-danger">
                        <strong>{{ message }}</strong>
                    </div>
                        {% else %}
                            <div class="alert alert-success">
                                <strong>{{ message }}</strong>
                            </div>   
                    {% endif %}
                {% endfor %}
            </ul>
            {% if form.errors %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
            {% if order.apply_coupon == False %}
			<div style="width: 35%;margin-left: auto;margin-right: auto;" class="table-responsive cart_info">
				<table class="table table-condensed">
					<tbody>
		                <tr>
		                    <th colspan="3"></th>
		                    <th class="" colspan="">Total MRP:</th>
		                    <th>{{order_product.total_amount}}</th>
		                </tr>
		                {% if coupon %}
		            	<tr>
		                    <th colspan="3"></th>
		                    <th class="" colspan="">Apply Coupon</th>
		                    <th>{{coupon.code}}</th>
		                </tr>
		                {% endif %}
					</tbody>
				</table>
			</div>
			{% if coupon %}
			<div style="width: 35%;margin-left: auto;margin-right: auto;">
				<p><strong>Save {{coupon.amount}} Rs</strong> On Applying Above Coupon Code and get your product only in :<strong>{{final_amount}} Rs</strong></p>
				<h5> Expires On: {{coupon.valid_to}}</h5>
				<form action="/payment/" class="col-2 " method="post">
					{% csrf_token %}
					<div class="row ">
	                    <div class="col-md-12 form_field">
	                        <div class="form-group health_form">
							<input class="form-control" type="text" name='code' value="" placeholder="Enter coupon code here">
	                        </div>
	                    </div>
	                </div>
					<input type="submit" class="btn btn-success">
				</form>
			</div>
			{% endif %}
			{% else %}
			<div style="width: 35%;margin-left: auto;margin-right: auto;" class="table-responsive cart_info">
				<table class="table table-condensed">
					<tbody>
		                <tr>
		                    <th colspan="3"></th>
		                    <th class="" colspan="">Total MRP:</th>
		                    <th>{{order_product.total_amount}}</th>
		                    <!--<th>{{products|total_cart_price:request.session.cart}}</th>-->
		                </tr>
					</tbody>
				</table>
			</div>
			{% endif %}
			<div class="checkout_info" align="center" >
				<div id="paypal-button-container"></div>
				<script src="https://www.paypal.com/sdk/js?client-id={{client_id}}&currency=USD"></script>
				    <script >
				    	var amnt  = "{{order_product.total_amount}}"
				    	var order_id  = "{{order.id}}"

				    	function getCookie(name) {
						    var cookieValue = null;
						    if (document.cookie && document.cookie !== "") {
						      var cookies = document.cookie.split(";");
						      for (var i = 0; i < cookies.length; i++) {
						        var cookie = cookies[i].trim();
						        // Does this cookie string begin with the name we want?
						        if (cookie.substring(0, name.length + 1) === name + "=") {
						          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
						          break;
						        }
						      }
						    }
						    return cookieValue;
						  }

				    	// Render the PayPal button into #paypal-button-container
				        paypal.Buttons({
				            // Set up the transaction
				            createOrder: function(data, actions) {
					        	console.log("value inside create",amnt)
					        	console.log("value inside create",data)

				            	// document.getElementsByTagName("span")[0].innerHTML=amnt
				        
				                return actions.order.create({
				                    purchase_units: [{
				                        amount: {
				                            value: amnt
				                        }
				                    }]
				                });
				            },

				            // Finalize the transaction
				            onApprove: function(data, actions) {
				                return actions.order.capture().then(function(orderData) {
				                    // Successful capture! For demo purposes:
				                    // console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
				                    var transaction = orderData.purchase_units[0].payments.captures[0];
				                    // var status = transaction.status;
				                    const csrftoken = getCookie('csrftoken');
				                    alert('Transaction '+ transaction.status + ': ' + transaction.id + '\n\nSee console for all available details');
				                    sendData();
				                    function sendData(){
				                    	console.log("&&&&&&&&&&&&&&&&&")
				                    		$.ajax(
											    {
										        type:"POST",
										        url: "/payment/",
												headers: {
													"Content-type": "application/json",
													"X-CSRFToken": csrftoken,
												},
										        data:{
										        	"PaypalorderID": orderData.id,
													"status": transaction.status,
													"transactionID": transaction.id,
													"order_id" : order_id 
										        },
										        success: function(data) 
										        {
										        	window.location.href = data.url;
										            // $( '#like'+ catid ).remove();
										            // $( '#message' ).text(data);
										        }
											})
					                       // fetch(url, {
					                       //     method: "POST",
					                       //     headers: {
					                       //      "Content-type": "application/json",
					                       //      "X-CSRFToken": csrftoken,
					                       //     },
					                       //     body: JSON.stringify({
					                       //         // orderID: orderID,
					                       //         transID: orderData.id,
					                       //         // payment_method: payment_method,
					                       //         status: status,
					                       //     }),
					                       // })
					                       // .then((response) => response.json())
					                       // .then((data) => {
					                       //     window.location.href = redirect_url + '?order_number='+data.order_number+'&payment_id='+data.transID;
					                       //  });
                   						}


				                    // Replace the above to show a success message within this page, e.g.
				                    // const element = document.getElementById('paypal-button-container');
				                    // element.innerHTML = '';
				                    // element.innerHTML = '<h3>Thank you for your payment!</h3>';
				                    // Or go to another URL:  actions.redirect('thank_you.html');
				                });
				            }


				        }).render('#paypal-button-container');
				    </script>
				</div>
			</div>
		</section> <!--/#cart_items-->

{% endblock %}